*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DMSans',sans-serif;
    background: #191919;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1300px;
    margin: 0 auto;
}